.main {
    background-color: powderblue;
    border-radius: 10px;
    padding-left: 40px;
    margin: 2px
}
.star-rating {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* img {
    border-radius: 100px;
} */
.star {
    font-size: 65px;
    padding-bottom: 10px;
}
.image-date {
    display: flex;
}